<!-- <p>book-footer works!</p> -->


<footer class="ct-footer">
    <div class="ct-footer-post">
        <div class="container">
            <div class="inner-left">
                <ul>
                    <li>
                        <a href="">FAQ</a>
                    </li>
                    <li>
                        <a href="">News</a>
                    </li>
                    <li>
                        <a href="">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="inner-right">
                <p>
                    Copyright © 2024 Kamalags.&nbsp;<a href="">Privacy Policy</a>
                </p>
                <p>
                    <a class="ct-u-motive-color" href="" target="_blank">Web Design</a> by Kamalags
                </p>
            </div>
            <p>{{Today}}</p>
        </div>
    </div>
</footer>