header {
    background-color: rgb(2, 7, 17);
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .containerbtn {
    display: flex;
    justify-content: center;
    margin-block: 2rem;
}

.btn {
    padding: 1rem;
    color: #ffffff;
    background-color: #29a1fd;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
.card {
  box-shadow: 1px 1px 9px #333231;
  padding: 1rem;
  width: 600px;
  margin-inline: auto;
  margin-block: 2rem;
  border-radius: 1rem;
 }